{include file="head-gaiban" /}
    <link href="/static/gaiban/css/xz-index.css" rel="stylesheet">
	<link href="/static/gaiban/css/xz-currency.css" rel="stylesheet">
<body class="sticky-header">

<section>
    <div class="main-content" style="margin-left:0px;" >
      	<!--头部开始-->
        <div class="header-section"   style="left: 0px;">
          	<div class="xg-left">
              	<a href="javascript :history.back(-1)" class=""></a>
          	</div>
        <!--头部导航文字-->
        	<h3 style="text-align: center;height: 16px;line-height: 10px;font-size: 18px;font-weight: 500;color: #65CEA7;">商品行情</h3>
		<!--头部导航文字-->
        </div>
      <!---轮播图-->

		
        <div class="row blog">
          <div class="col-md-12">
              <div class="panel" style="margin-bottom: 15px;">
                  <div class="panel-body">
                      <div id="c-slide" class="carousel slide auto" data-ride="carousel" data-interval="2000">
                          <ol class="carousel-indicators out">
                              <li class="active" data-slide-to="0" data-target="#c-slide" ></li>
                              <li class="" data-slide-to="1" data-target="#c-slide"  ></li>
                              <li class="" data-slide-to="2" data-target="#c-slide" ></li>
                          </ol>
                          <div class="carousel-inner blog-img-wide">
                              <div class="item text-center active">
                                  <img src="{$bannerimg1}" alt="">
                              </div>
                              <div class="item text-center">
                                  <img src="{$bannerimg2}" alt="">
                              </div>
                              <div class="item text-center">
                                  <img src="{$bannerimg3}" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
     </div>
        
		
		
		
		
      
      <!--轮播图-->
      
      
      
      <!--填出其他页面-->
			 <div class="row" style="margin-bottom: 15px;">
                <div class="ico-bottom-left col-lg-6 col-xs-6 col-md-6">
                    <section style="padding-left: 10px;padding-right: 10px;background: #eff0f4;border-radius: 0px;">
                         <div class="panel-body btn btn-warning btn-block">
                               <a    href="/index/user/?id=chongzhi" >
                                   
                                    <div class="ico-title" style="color: #fff;">
                                          <h5>充值</h5>
                                   </div>
                              </a>
                            </div>
                         </section>
                     </div>
               
                <div class="ico-bottom-right  col-lg-6 col-xs-6 col-md-6">
                    <section   style="padding-left: 10px;padding-right: 10px;background: #eff0f4;border-radius: 0px;">
                         <div class="panel-body btn btn-success btn-lg btn-block">
                               <a href="/index/user/?id=tixian" >
                                   
                                    <div class="ico-title" style="color: #fff;">
                                          <h5>提现</h5>
                                   </div>
                              </a>
                            </div>
                         </section>
                     </div>
                
            
            </div>
	<!--填出其他页面-->
   	<!--商品-->
	
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <header class="panel-heading">
                                    实盘交易 
                                </header>
                                <div class="panel-body">
                                    <ul class="xz-ul activity-list">
									<!-- {volist name="pro" id="vo"} -->
                                        <li class="xz-dw" onclick="parent.location='{:url('goods/goods',array('pid'=>$vo['pid'],'token'=>$token))}';"  id="pid{$vo.pid}" class="gb-ul">
                                            <div class="avatar">
                                                <img src="{$vo.icoimg}" alt=""/>
                                            </div>
                                            <div class="activity-desk">

                                                <h5><a href="javascript:;" class="ng-binding prtitle"></a></h5>
                                                <p class="text-muted">{$vo.jianjie}</p>
                                                <p class="text-muted-flaot text-muted"><a  href="javascript:;" class="ng-binding rise-value now-value"></a></p>
                                              	<p class="xz-jd text-muted fa fa-angle-right"></p>
                                            </div>
                                        </li>
                                    <!-- {/volist} -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

    <!--商品-->
			
     
      
      
      
      
    </div>
</section>
 {include file="foot" /}
  
  
  
<script>

var charturl = '{:url("getchart")}';
$.get(charturl,function(_res){


    var res = jQuery.parseJSON(Base64.decode(_res)); 

    $.each(res,function(k,v){
        $('.'+k).html(v);
    })
})

function pay_code_area() {
    $('.pay_code_area').hide();
}
</script>
<script src="__HOME__/js/lk/index.js">ajaxpro()</script>
  
<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/gaiban/js/jquery-1.10.2.min.js"></script>
<script src="/static/gaiban/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/gaiban/js/bootstrap.min.js"></script>
<script src="/static/gaiban/js/modernizr.min.js"></script>
<script src="/static/gaiban/js/jquery.nicescroll.js"></script>
  
  
  
<!--gritter script-->
<script type="text/javascript" src="/static/gaiban/js/gritter/js/jquery.gritter.js"></script>
<script src="/static/gaiban/js/gritter/js/gritter-init.js" type="text/javascript"></script>

<!--common scripts for all pages-->
<script src="/static/gaiban/js/scripts.js"></script>

</body>
</html>

