<!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">
                  <li {if $actionname == 'index' && $contrname == 'Index' } class="active" {/if} >
                      <a class="" href="{:Url('qq456dlht/index/index')}">
                          <i class="icon-dashboard"></i>
                          <span>后台首页</span>
                      </a>
                  </li>
                  <li {if $contrname == 'Order'} class="active" {else /} class="sub-menu " {/if}>
                      <a href="javascript:;" class="">
                          <i class="icon-paste"></i>
                          <span>订单管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li {if $actionname == 'holdlist' } class="active" {/if}><a class="" href="{:Url('qq456dlht/order/holdlist')}">持仓订单</a></li>
                          <li {if $actionname == 'orderlist' } class="active" {/if}><a class="" href="{:Url('qq456dlht/order/orderlist')}">交易流水</a></li>
                          <li {if $actionname == 'orderlog' } class="active" {/if}><a class="" href="{:Url('qq456dlht/order/orderlog')}">平仓日志</a></li>
                      </ul>
                  </li>

                  <li {if $contrname == 'User' && ( in_array($actionname,array('userlist','useradd','userprice','userinfo','cash','myteam','chongzhi')) )} class="active" {else /} class="sub-menu " {/if}>
                      <a href="javascript:;" class="">
                          <i class="icon-user"></i>
                          <span>用户管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li {if in_array($actionname,array('userlist','useradd')) } class="active" {/if}>
                          <a class="" href="{:Url('qq456dlht/user/userlist')}">客户列表</a></li>
                          
                          <!--li {if in_array($actionname,array('myteam')) } class="active" {/if}>
                          <a class="" href="{:Url('qq456dlht/user/myteam')}">我的团队</a></li-->

                          <li {if $actionname == 'userprice' } class="active" {/if}>
                          <a class="" href="{:Url('qq456dlht/user/userprice')}">充值列表</a></li>

                          <li {if $actionname == 'cash' } class="active" {/if}>
                          <a class="" href="{:Url('qq456dlht/user/cash')}">提现列表</a></li>
                      </ul>
                  </li>
                  
                  <li {if $contrname == 'Price'} class="active" {else /} class="sub-menu " {/if}>
                      <a href="javascript:;" class="">
                          <i class="icon-yen"></i>
                          <span>报表管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          
                          
                          <li {if $actionname == 'allot' } class="active" {/if}>
                          <a class="" href="{:Url('qq456dlht/price/allot')}">红利报表</a></li>

                          <li {if $actionname == 'yongjin' } class="active" {/if}>
                          <a class="" href="{:Url('qq456dlht/price/yongjin')}">佣金报表</a></li>

                          <li {if $actionname == 'pricelist' } class="active" {/if}>
                          <a class="" href="{:Url('qq456dlht/price/pricelist')}">资金报表</a></li>

                          <li {if $actionname == 'myprice' } class="active" {/if}>
                          <a class="" href="{:Url('qq456dlht/price/myprice')}">个人报表</a></li>
                          
                      </ul>
                  </li>
                  <li>
                      <a class="" href="{:Url('qq456dlht/login/logout')}">
                          <i class="icon-signout"></i>
                          <span>退出</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

