{include file="head-gaiban" /}
	<link href="/static/gaiban/css/xz-hold.css" rel="stylesheet">
	<link href="/static/gaiban/css/xz-currency.css" rel="stylesheet">
<body class="sticky-header user-body-cz">
 <section>
  	<div class="main-content" style="margin-left:0px;" >
      	<!--头部开始-->
        <div class="header-section"   style="left: 0px;">
          	<div class="xg-left">
              	<a style="color:#333;" href="javascript:history.go(-1);" class="fa fa-angle-left"></a>
          	</div>
        <!--头部导航文字-->
        	<h3 style="text-align: center;height: 16px;line-height: 10px;font-size: 18px;font-weight: 500;color: #333;">新手教程</h3>
		<!--头部导航文字-->
        </div>		

<div style="width: 100%;">
    <img style="width: 100%;" src="/codeimg/xinshoujiaocheng.png" alt="">
</div>


      	
			
      
      
      
      
    </div>
 </section>

  
 <script src="/static/index/js/lk/hold.js"></script>
<script type="text/javascript">
  change_category(0)
</script>




</body>
</html>